
body {background-color: azure}

.first {width: 800px; height: 300px; margin: auto; display: flex; flex-direction: column;
        justify-content: center; align-items: center;}


.second {width: 850px; height: 600px; margin: auto; display: flex; flex-direction: column;
        justify-content: center; align-items: center;}

h1 {font-size: 40px; font-family: 'Pacifico', cursive;}

.video {width: 900px; height: 600px;}
